body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w { background-image: url(https://www.simpleimageresizer.com/_uploads/photos/e76cafc8/Sirenpic_260x260.jpeg);
    background-position: center;
   
  
}
.a{
  background-image: url(https://www.simpleimageresizer.com/_uploads/photos/e76cafc8/kickpic_1_220x220.jpeg);
  background-position: bottom -70px center;
}

.s {
  background-image: url(https://www.simpleimageresizer.com/_uploads/photos/e76cafc8/snarepic_260x260.jpeg);
  background-position: center;
  
}

.d {
background-image: url(http://www.simpleimageresizer.com/_uploads/photos/e76cafc8/clapic_1_210x210.jpeg);
background-position: bottom -60px center;
}

.j {
background-image: url(https://www.simpleimageresizer.com/_uploads/photos/e76cafc8/hihatpic_260x260.jpeg);
background-position: center;
}

.k {
background-image: url(https://www.shutterstock.com/image-vector/vector-illustration-classical-drum-crossed-260nw-1687895656.jpg);
background-position: center;
}

.l {
background-image: url(https://www.simpleimageresizer.com/_uploads/photos/e76cafc8/cymboldpic_1_220x220.jpeg);
background-position: bottom -29px center;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
